<html>
<div>
<form method=get action="/logout">
 <input type="submit" value = "Log Out" class="btn btn-primary" style="margin-top:2%;float:right;margin-right:30px" />
 </form>
</div>
<div class="title">  
    <%= message %>
</div>  
</html>